{% extends 'accounts/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="profile">
    <h2>{{ profile.user.username }}</h2>
    {% if profile.avatar %}
      <div class="profile-avatar-container">
        <img src="{{ profile.avatar.url }}" alt="{{ profile.user.username }}" class="profile-avatar">
      </div>
    {% endif %}
    <div class="profile-info">
      <p><strong>Bio:</strong> {{ profile.bio }}</p>
      <p><strong>Phone Number:</strong> {{ profile.phone_number }}</p>
      <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>
      <p><strong>Location:</strong> {{ profile.location }}</p>
      <p><strong>Website:</strong> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
      <!-- Add other profile information here -->
    </div>
    <div class="profile-stats">
      <p><strong>Followers:</strong> <a href="{% url 'accounts:followers' profile.slug %}">{{ followers_count }}</a></p>
      <p><strong>Following:</strong> <a href="{% url 'accounts:following' profile.slug %}">{{ following_count }}</a></p>
    </div>
    <div class="profile-buttons">
      {% if user != profile.user %}
        {% if user.profile in profile.followers.all %}
          <form method="POST" action="{% url 'accounts:unfollow' profile.slug %}">
            {% csrf_token %}
            <button type="submit" class="btn-primary">Unfollow</button>
          </form>
        {% else %}
          <form method="POST" action="{% url 'accounts:follow' profile.slug %}">
            {% csrf_token %}
            <button type="submit" class="btn-primary">Follow</button>
          </form>
        {% endif %}
        <a href="{% url 'private_messages:send_message' %}?receiver={{ profile.user.id }}" class="btn-primary">Send Message</a>
      {% else %}
        <a href="{% url 'accounts:edit_profile' slug=profile.slug %}" class="btn-primary">Edit Profile</a><br>
        <a href="{% url 'accounts:password_change' slug=profile.slug %}" class="btn-primary">Change Password</a><br>
      {% endif %}
    </div>
  </div>
{% endblock %}
