{% extends 'accounts/base.html' %}

{% block title %}Delete Post{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Are you sure you want to delete this post?</h2>
            <p><strong>Title:</strong> {{ object.title }}</p>
            <p><strong>Content:</strong> {{ object.content }}</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
